<table>
  <tbody>
    <tr>
      <th>Web Hook URL</th>
      <td>
        <input type="text" id="settings_web_hook_url"
                           value="<%= settings['web_hook_url'] %>"
                           name="settings[web_hook_url]" >
      </td>
    </tr>
  </tbody>
</table>
